<header>

    <img src="https://cdn.shopify.com/shopifycloud/brochure/assets/landers/ppc/ecommerce/hero-small-accdfa5d4628cee00ae2a5c2694e164c1eec8b247143f59ad27dfdb232c8d819.png" width="200" height="150" alt="logo insure" id="icono">
  
    <div class="open-close">
      <img src="images/icon-hamburger.svg" alt="icon hamburger" class="hamburger hamburger--off">
      <img src="images/icon-close.svg" alt="icon close menu" class="cross">
    </div>
  
    <ul class="nav-bar">
      <li>
        <a routerLink="/home">Inicio</a>
      </li>
      <li>
        <a href="#">Registrate</a>
      </li>
      <li>
        <a href="#">Iniciar Sesion</a>
      </li>
      <li>
        <a href="/catalogo" id="plans">Ver Catalogo</a>
      </li>
    </ul>
  
  </header>
  
  
  
  