<main>

    <div class="bg-left"></div>
    <div class="bg-right"></div>
    <div class="bg-right-mobile"></div>
  
  
  
  
    <div class="humanizing">
  
      <div class="humanizing-text">
  
        
  
        <h1>Visualiza y compra a comodidad.</h1>
        <p>
        Puedes obtener tus productos con un solo click, teniendo la comodidas y disponibilidad a la mano. Podras visualizar y familiarizarte con nuestro producto.
        </p>
  
  
        <button class="view-plans">Ver productos</button>
  
      </div>
  
      <div class="humanizing-image">
        <img src="./assets/4.png" alt="image intro" id="photo" width="900" height="400">
      </div>
  
    </div>
  
  
    <div class="different">
  
  
      <h2>Somos Diferentes</h2>
  
  
  
  
      <div class="different-card">
  
        <div class="different-box" id="snappy">
          <img src="./assets/1.JPG" alt="icon snappy process">
          <h3>
            choose your products</h3>
          <p>
           Escoge tus productos. Selecciona lo que mas te guste para poder incluirlos al carrito.
          </p>
        </div>
  
        <div class="different-box" id="affordable">
          <img src="./assets/2.JPG" alt="icon affordable prices">
          <h3>Add products</h3>
          <p>
            Añade tus productos a la tienda. 
            Enumere sus productos llamativos 
            con las mejores fotos, precios y descripciones.
          </p>
        </div>
  
        <div class="different-box" id="people-first">
          <img src="./assets/3.JPG" alt="icon people first">
          <h3>Start selling</h3>
          <p>
          
          Configura pagos y envíos, y comienza a comprar.  
          </p>
        </div>
  
      </div>
    </div>
  
  
  
    <div class="find-out-more">
      <h2>Encuentra mas informacion sobre nuestro catalogo</h2>
  
      <button routerLink="/catalogo" routerLinkActive="active" class="how-we-work"  >Catalogo </button>
      
  
    </div>


    <div class="differentt">
      <div class="different-cardd">
  
        <div class="different_box" id="snappy">

          <h3>
            Quienes Somos</h3>
          <p>
            Somos plataforma diseñada para la región, que brinda a los clientes una experiencia de compra en línea fácil, segura y rápida a través de un sólido soporte de pago y cumplimiento.

           Creemos que las compras en línea deben ser accesibles, fáciles y agradables. Esta es la visión que Shopee aspira a ofrecer en la plataforma, todos los días.
          </p>
        </div>
  
    
  
        
      </div>
    </div>


    <div class="differenttt">
      <div class="different-carddd">
  
        <div class="different-box" id="snappy">

          <h3>
            Mision</h3>
          <p>
            Somos un centro comercial que brinda las mejores opciones de compra, servicios y espacios de entretenimiento, en un agradable ambiente de atención, comodidad y seguridad, buscando la fidelidad y satisfacción de nuestros clientes, contribuyendo así al bienestar y desarrollo de la comunidad.
          </p>
        </div>
  
        <div class="different-box" id="affordable">
          <h3>Vision</h3>
          <p>
            Consolidarnos y posicionarnos como el mejor centro comercial del Gran Asunción, generando una excelente rentabilidad para el emprendimiento, con una proyección de crecimiento sostenido
          </p>
        </div>
  
        
      </div>
    </div>


  </main>
  